<header>
   
        <div id="logo"><img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/question-mark-logo-tj-design-template-083aeba1aba61a0d0e39199e4c4f2c04_screen.jpg?ts=1598131570"></div>
        <div id="button-container">
            <a href="/">Home</a>
            <a href="#">Ask Question</a>
            <a href="#">Contact Us</a>
            <a href="#">Questions</a>
            <% if(login) { %>
                <a href="/logout">Logout</a>
            <% }else{%>
            <a href="/login">Login/SignUp</a>
            <% } %>
            
            
        </div>
</header>