<div id="jumbo-container">
    <div id="jumbo-info">
        <h1>Welcome to Ask a Question</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    </div>
    <div id="jumbo-img"><img src="./images/jumbo-img.png"></div>
</div>