<div id="Login-container">
    <div id="login-img"><img src="./images/login.png"></div>
    <div id="login-form-container">
        <div id="login-head"></div>
        <div id="login-info"></div>
        <form action="/createSession" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required placeholder="abc@gmail.com">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <input type="submit" value="Login">
        </form>
        <div id="forgotPass">
            <a href="/forgotPass">Forgot Password ?</a>
        </div>
        <div id="google-signin">
            <a href="/auth/google" id="sign-in-google">
                <img src="./images/g-logo.png">
                <span>Sign in with Google</span>
            </a>
        </div>
    </div>

    <p >New to community? <a href="#" onClick="toggle('Signup')">Signup here</a></p>
</div>

<!-- sign up form -->
<div id="Signup-form">
    <!-- same css as abaove -->
    <div id="login-form-container">
        <div id="login-img"><img src="./images/login.png"></div>
        <div id="login-form-container">
            <form action="/signup" method="post">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required placeholder="abc@gmail.com">
                <label for="cemail">Confirm Email:</label>
                <input type="email" name="cemail" id="cemail" required placeholder="abc@gmail.com">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <label for="cpassword">Confirm Password:</label>
                <input type="password" name="cpassword" id="cpassword" required>
                <label for="fullname">Full name:</label>
                <input type="text" id="fullname" name="fullname"  required>
                <br>
                <input type="submit" value="SignUp">
            </form>
            
            <div id="google-signin">
                <a href="/auth/google" id="sign-in-google">
                    <img src="./images/g-logo.png">
                    <span>Sign up with Google</span>
                </a>
            </div>
        </div>
        <p >Already have Account? <a href="#" onClick="toggle('Signin')">Login here</a></p>
    </div>
</div>