<div id="passwordchange-container">
    <form action="/changePass" id="passchange-form" method="POST" onsubmit="return checkbothPass();">
        <div id="login-img"><img src="./images/password.png"></div>
        <div>
            <label for="password">New Password</label>
            <input type="password" id="password" name="password">
        </div>
        <div>
            <label for="cpassword">Confirm new Password</label>
            <input type="password" id="cpassword">
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</div>