<style>
    #email-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ec7c7f;
    }
</style>

<div id="email-container">
    <p>Hi <%= username %>
    </p>
    <br>
    <br>
    <div>
        <p>Your Otp is <strong>
                <%= otp %>
            </strong></p>
    </div>
    <br>
    <br>
    <div>
        <p>Thanks!</p>
    </div>
    <div>
        <p>Team Quora Clone</p>
    </div>

</div>